
@font-face {
  font-family: 'Eurostile LT Std';
  src: url('EurostileLTStd-BoldEx2.eot?#iefix') format('embedded-opentype'),  url('EurostileLTStd-BoldEx2.otf')  format('opentype'),
	     url('EurostileLTStd-BoldEx2.woff') format('woff'), url('EurostileLTStd-BoldEx2.ttf')  format('truetype'), url('EurostileLTStd-BoldEx2.svg#EurostileLTStd-BoldEx2') format('svg');
  font-weight: normal;
  font-style: normal;
}


